body{
    background:rgb(50, 12, 20);
    color:red;
    text-align:center;
}
ul{
    font-size:20px;
    text-align:left;
}
img{
    height:250px;
    width:300px;
    margin:25px;
    border:5px solid red;
}
